{% extends 'menu/index.html' %}

{% load static %}

{% block content %}
 <!--offcanvas menu area end-->

        <div class="main_header">

            <div class="header_middle">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-3 col-4">
                            <div class="logo">
                                <a href="{% url 'menu.index' %}"><img src="{% static 'img/logo/logo.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-6 col-6">
                            <div class="header_right_info">
                                <div class="search_container">
                                    <form action="#">
                                        <div class="hover_category">
                                            <select class="select_option" name="select" id="categori1">
                                                <option selected value="1">All Categories</option>

                                            </select>
                                        </div>
                                        <div class="search_box">
                                            <input placeholder="Search product..." type="text">
                                            <button type="submit"><i class="icon-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                                <div class="header_account_area">
                                    <div class="header_account-list top_links">
                                        <a href="{% url 'register' %}"><i class="icon-users"></i></a>
                                        <ul class="dropdown_links">
                                            <li><a href="{% url 'register' %}">Вход </a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header_bottom sticky-header">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <!--main menu start-->
                                <div class="main_menu menu_position">
                                    <nav>
                                        <ul>
                                            <li>
                                                <a href="{% url 'menu.index' %}">Главная<i class="fa fa-angle-down"></i></a>
                                            </li>
                                            <li class="mega_items">
                                                <a class="active" href="{% url 'menu.catalog' %}">Каталог<i
                                                        class="fa fa-angle-down"></i>
                                                </a>

                                            </li>
                                            <li><a href="{% url 'menu.posts' %}">Блог<i
                                                    class="fa fa-angle-down"></i></a>

                                            </li>

                                            <li><a href="contact.html"> Контакты </a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <!--main menu end-->
                            </div>
                            <div class="col-lg-3">

                            </div>
                            <div class="col-lg-6">


                            </div>
                            <div class="col-lg-3">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <!--header area end-->


    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <div class="breadcrumb_content">
                        <h3>Блог</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->





    <!--blog area start-->
    <div class="blog_page_section blog_fullwidth mt-100">
        <div class="container">
            <div class="row">

                <div class="col-lg-9 col-md-12">

                    <div class="blog_wrapper">

                        {% for post in posts %}
                            <article class="single_blog">
                                <figure>
                                    <div class="blog_thumb">
                                        {% if post.image %}
                                            <a href="{% url 'post_detail' pk=post.pk %}"><img src="{{ post.image.url }}"
                                                                                              alt=""></a>
                                        {% else %}
                                            <img src="{% static 'img/default.jpg' %}" alt="Нет изображения">
                                        {% endif %}
                                    </div>
                                    <figcaption class="blog_content">
                                        <h4 class="post_title">
                                            <a href="{% url 'post_detail' pk=post.pk %}"><i
                                                    class="fa fa-paper-plane"></i>
                                                {{ post.title }}
                                            </a>
                                        </h4>
                                        <div class="blog_meta">
                                            <p>By <a href="#">Дата создания</a> <a>{{ post.created }}</a></p>
                                        </div>
                                        <p class="post_desc">{{ post.content|safe|truncatechars:250 }}</p>
                                        <footer class="btn_more">
                                            <a href="blog-details.html"> Read more</a>
                                        </footer>
                                    </figcaption>
                                </figure>
                            </article>
                        {% endfor %}

                    </div>

                </div>



{% endblock %}